---
http_interactions:
- request:
    method: get
    uri: "<API-URL>/posts/1"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1688444650'
      Etag:
      - W/"124-yiKdLzqO5gfBrJFrcdJ8Yq0LGnU"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 1,
          "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
          "body": "quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
        }
  recorded_at: Thu, 12 Oct 2023 20:41:51 GMT
- request:
    method: get
    uri: "<API-URL>/posts/4"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1697115650'
      Etag:
      - W/"10e-HqG77o1RAmatkSwR36f4+Io6g1E"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 4,
          "title": "eum et est occaecati",
          "body": "ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit"
        }
  recorded_at: Sat, 14 Oct 2023 22:06:37 GMT
recorded_with: VCR 6.2.0
